html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding:0;
    font-size:18px;
    -webkit-user-select: none;
}

.app {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.notSupported {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #FFE;
    color: #000;
    box-sizing: border-box;
}

.notSupported:after {
    content: "Portrait orientation supported only. Minimum height of 480px required. Add to homescreen (iOS) to maximise available height.";
    display: block;
    width: 100%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

@media (orientation: portrait) and (min-height: 480px) {
    .app {
        display: block;
    }
    .notSupported {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;

}

.mainContainer {
    height: 100%;
    width: 100%;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: -moz-linear-gradient(top, #000 0%, #000 20vh, #666 50vh, #000 50vh);
    background: -webkit-linear-gradient(top, #000 0%, #000 20vh, #666 50vh, #000 50vh);
    background: -ms-linear-gradient(top, #000 0%, #000 20vh, #666 50vh, #000 50vh);
    background: linear-gradient(top, #000 0%, #000 20vh, #666 50vh, #000 50vh);
    overflow: hidden;
}

.legend {
    position: absolute;
    color:#FFF;
    margin: 20px 20px;
}

.legend span {
    display: block;
    margin-left: 6px;
}

.legend span:last-child {
    font-size: .7em;
    color: #999;
}

.photoComp {
    position: absolute;
    width: 60vw;
    height: 60vw;
    box-sizing: border-box;
    border: 1px solid #333;
    background-color: white;
    background-clip: padding-box;
    color: #000;
    text-align: left;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 500ms;
    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.25, transparent), to(rgba(255, 255, 255, 0.6)));
}

.photoComp span {
    position: absolute;
    display: block;
    bottom: 24px;
    margin-left: 8px;
}

.photoComp span:last-child {
    font-size: .6em;
    color: #666;
    bottom: 8px;
}

.photoComp.withFocus {
    z-index:200;
    -webkit-transform: translateX(20vw) translateY(25vh);
}

.photoComp.atBack {
    z-index:20;
    -webkit-transform: translateX(20vw) translateY(28vh) scale(0.2);
}

.photoComp.atLeft {
    z-index:100;
    -webkit-transform: scale(0.4) translateX(-60vw) translateY(70vh);
}

.photoComp.atRight {
    z-index:100;
    -webkit-transform: scale(0.4) translateX(160vw) translateY(70vh);
}

.photoComp.atFarLeft {
    z-index:50;
    -webkit-transform: scale(0.3) translateX(-30vw) translateY(90vh);
}

.photoComp.atFarRight {
    z-index:50;
    -webkit-transform: scale(0.3) translateX(170vw) translateY(90vh);
}

.photoComp img {
    width: 100%;
    background-color: #333;
    border: 1px solid #000;
    box-sizing: border-box;
}

.controls {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 40px;
}

.controls--buttons {
    max-width: 280px;
    height: 100%;
    margin: auto;
}

.arrow {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border-left: 0;
    border-top: 37px solid transparent;
    border-right: 65px solid #999;
    border-bottom: 37px solid transparent;
    float: left;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 500ms;
    cursor: pointer;
}

.autoPlay {
    height: inherit;
    width: 75px;
    margin: auto;
    border-radius:5px;
    background-color: #999;
    cursor: pointer;
}

.play {
    position: relative;
    left: 2px;
    top: 7px;
    border-right: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #000;
    border-bottom: 30px solid transparent;
    height: 0;
    width: 0;
    margin: auto;
    box-sizing: border-box;
}

.pause {
    position: relative;
    top:12px;
    border-right: 20px solid #000;
    border-left: 20px solid #000;
    height: 50px;
    width: 10px;
    margin: auto;
    box-sizing: content-box;
}


.hidden {
    display: none;
}

.arrow.next {
    border-left: 65px solid #999;
    border-right: 0;
    float: right;
}

.autoPlay:active {
    background-color: #FFF;
}

.arrow:active {
    border-left-color: #FFF;
    border-right-color: #FFF;
}

